.input-checked{background:url(../images/real-estate-melkyab/1-03.png) no-repeat center center; width:15px; height:16px; display:inline-block; float:right;}
.input-unchecked{background:url(../images/real-estate-melkyab/1-04.png) no-repeat center center; width:15px; height:16px; display:inline-block; float:right;}
.tbl-view-print{ margin: auto; padding: 5px; width: 95%;}
.tbl-view-print td {width:18%;}
.tbl-view-print td label {font-family:BYekan !important;}
.tbl-view-print td span {margin-left:5px;}
.tbl-view-print td p { border: 1px solid #CCCCCC; border-radius: 5px; font-family: BMitra; margin: 7px; min-height: 25px; padding-right:5px; }
.desc-view-print p {min-height:70px !important;}
.print-content-page h1{font-size:13pt !important;}
.img-header-print{width: 20cm;}
