.product-view.category-4{ background:url(../images/cat-bg/basketball.jpg) no-repeat left top #ffffff; }
.product-view.category-5{ background:url(../images/cat-bg/voleyball.jpg) no-repeat left top #ffffff; }
.product-view.category-6{ background:url(../images/cat-bg/razmi.jpg) no-repeat left top #ffffff; }
.product-view.category-7{ background:url(../images/cat-bg/kuhi.jpg) no-repeat left top #ffffff; }
.product-view.category-8{ background:url(../images/cat-bg/rahati.jpg) no-repeat left top #ffffff; }
.product-view.category-9{ background:url(../images/cat-bg/koshti.jpg) no-repeat left top #ffffff; }
.product-view.category-10{ background:url(../images/cat-bg/boxing.jpg) no-repeat left top #ffffff; }
.product-view.category-11{ background:url(../images/cat-bg/sayer.jpg) no-repeat left top #ffffff; }
.product-view.category-12{ background:url(../images/cat-bg/football.jpg) no-repeat left top #ffffff; }
.product-view.category-13{ background:url(../images/cat-bg/futsal.jpg) no-repeat left top #ffffff; }