* {
	font-family: tahoma;
	direction: rtl;
}
.clear-fix {
	clear: both;
	margin: 0;
	padding: 0;
}
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #FFFFFF;
}
body {
	padding: 5px;
}
em {
	color: gray;
}
a {
	text-decoration: none;
	font-size: 9pt;
}
h1 {
	font-size: 15pt;
}
h2 {
	font-size: 13pt;
}
h3 {
	font-size: 11pt;
}
label {
	font-size: 9pt;
}
.main_content {
	margin-bottom: 30px;
}
.column {
}
.column1 {
	float: right;
	width: 180px;
	margin-left: 5px;
}
.column2 {
	float: right;
}
.column3 {
	float: left;
	width: 180px;
	margin-right: 5px;
}
.column4 {
	float: left;
	width: 180px;
	margin-right: 5px;
}
.column5 {
	float: left;
	width: 365px;
	margin-right: 5px;
}
.column_top {
	margin-bottom: 5px;
	margin-top: -4px;
}
.footer {
	margin-top: 5px;
}
#content_body {
	padding: 10px;
}
.column .box {
	margin-bottom: 5px;
}
.column2 .banner {
}
.banner * {
	font-family: BYekan;
	font-size: 30pt;
	color: #345fff;
	text-align: center;
}
#bottom-toolbar {
	height: 28px;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	border-top: solid 1px #b1b1b1;
	background: #e6e6e6;
	-moz-box-shadow: 0px -2px 4px -2px #000000;
	-webkit-box-shadow: 0px -2px 4px -2px #000000;
	box-shadow: 0px -2px 4px -2px #000000;
 filter: progid:DXImageTransform.Microsoft.Shadow(strength = 0, direction = 0, color = '#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 0, Direction = 0, Color = '#000000')";
}
.sub_text {
	color: #b2b2b2;
	font-size: 8pt;
}
.box {
	display: block;
	background: #f5f5f5;
	border: solid 1px #dcdcdc;
	padding: 10px;
}
#user_popup_container {
	position: relative;
	float: left;
}
.user-box {
	float: left;
	color: #343434;
}
.user-box *, .user-box {
	font-size: 9pt;
}
.user-box span {
	margin-right: 10px;
	display: block;
	float: left;
	height: 100%;
	padding-right: 10px;
	border-right: solid 1px gray;
}
.user-box a {
	color: #288bca;
}
.user-box a:hover {
	text-decoration: underline;
}
.user-box .logout {
	float: left;
}
.user_login_box {
	float: left;
	position: relative;
	z-index: 999;
	height: 17px;
	background:#FC0;
	margin-left:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	height:15px;
}
.user_login_box a{
	font-size: 9pt;
	padding:10px;
	color:#069;
}
.user_login_box.opened {
	border-bottom-color: transparent;
}
#user_login_popup {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 998;
}
#user_login_popup .block-title {
	display: none;
}
.admin_link_box {
	float: left;
	margin-right: 3px;
	height: 16px;
}
.form_element {
	margin-bottom: 3px;
}
.normal-form .form_element label {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	font-size: 9pt;
}
.form_element label span.ui-spinner {
	width: auto;
}
.spinner {
	text-align: left;
	direction: ltr;
	width: 75px;
}
.big_spinner {
	width: 150px;
}
.tiny_spinner {
	width: 40px;
}
.form_element fieldset {
}
.form_element fieldset legend {
	padding: 3px 15px;
}
.form_element textarea {
	vertical-align: top;
	margin-bottom: 10px;
}
.form_element_description {
	color: gray;
	font-size: 8pt;
	margin-right: 20px;
}
ul.form-element-error {
	margin-top: 2px;
}
ul.form-element-error li {
	color: red;
	font-size: 8pt;
	font-family: BYekan;
	list-style: url(../../../../module/Application/public/images/error16x16.png)
}
input.left-align {
	direction: ltr;
	text-align: left;
}
textarea, input {
	border: 1px solid #DDDDDD;
	padding: 2px;
	font-size: 9pt;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
}
/*textarea:hover, input:hover {
	border: solid 1px #dcdcdc;
	-moz-box-shadow: inset 0px 0px 6px -4px #000042;
	-webkit-box-shadow: inset 0px 0px 6px -4px #000042;
	box-shadow: inset 0px 0px 6px -4px #000042;
}*/
textarea:focus, input:focus {
	/*border: solid 1px #dcdcdc;*/
	-moz-box-shadow: inset 0px 0px 6px -4px #000042;
	-webkit-box-shadow: inset 0px 0px 6px -4px #000042;
	box-shadow: inset 0px 0px 6px -4px #000042;
}
input.spinner {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.page-title {
	font-family: 'BYekan';
	color: #8b0000;
	margin: 0;
	font-size: 16pt;
	margin-bottom: 5px;
}
.top_menu_box {
	float: right;
	padding: 0;
}
.top_menu {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.top_menu li {
	display: block;
	float: right;
}
.top_menu li a {
	display: block;
	float: right;
	padding: 7px 15px;
	color: #304da0;
	background: #f4f4f4;
	font-size: 9pt;
	font-family: BYekan;
	border-top: solid 3px transparent;
}
.top_menu li.active > a {
	background: #1b7dc2;
	color: #ffffff;
	-moz-box-shadow: inset 0px 0px 5px -1px #334bd6;
	-webkit-box-shadow: inset 0px 0px 5px -1px #334bd6;
	box-shadow: inset 0px 0px 5px -1px #334bd6;
	border-top: solid 3px #000000;
}
.top_menu li a:hover {
	background: #dcdcdc;
	color: #0f4d74;
	-moz-box-shadow: inset 0px 0px 2px -1px #334bd6;
	-webkit-box-shadow: inset 0px 0px 2px -1px #334bd6;
	box-shadow: inset 0px 0px 2px -1px #334bd6;
	border-top: solid 3px #646464;
}
.block-title {
	margin-top: -13px;
	padding: 3px 5px 3px 0;
	background: #1962c3;
	color: #ffffff;
	font-family: BYekan;
	font-size: 10pt;
	border-top: solid 3px #505050;
}
.block ul {
	list-style: none;
	padding-right: 0;
}
.block ul li a {
	line-height: 15px;
	padding: 4px 10px 4px 0;
	background: #f0f0f7;
	border-bottom: solid 1px #cccccc;
	display: block;
	color: #434343;
	font-size: 9pt;
}
.block ul li a:hover {
	background: #135480;
	color: #ffffff;
}
.toolbar-button {
	float: left;
}
div.bottom_menu {
	margin-right: 100px;
}
ul.bottom_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.bottom_menu li {
	float: right;
}
ul.bottom_menu li a {
	float: right;
	display: block;
	background: #295170;
	color: #ffffff;
	font-size: 9pt;
	padding: 5px 15px;
	position: relative;
	bottom: 0px;
	border: solid 1px transparent;
}
ul.bottom_menu li.active a {
}
ul.bottom_menu li a:hover {
	padding-bottom: 10px;
	bottom: 5px;
	border-color: #88a3ff;
	background: #ffffff;
	color: #424242;
	border-bottom-color: transparent;
	-moz-box-shadow: 0px -2px 4px -2px #000000;
	-webkit-box-shadow: 0px -2px 4px -2px #000000;
	box-shadow: 0px -2px 4px -2px #000000;
 filter: progid:DXImageTransform.Microsoft.Shadow(strength = 0, direction = 0, color = '#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 0, Direction = 0, Color = '#000000')";
}
ul.links-cats {
	padding: 0;
	list-style: none;
}
ul.links-cats li {
	float: right;
}
ul.links-cats li a {
	padding: 3px 10px;
	background: dodgerblue;
	margin: 2px;
	color: #ffffff;
	display: block;
	float: right;
	font-size: 9pt;
}
ul.links-cats li a:hover {
	background: gray;
	color: #ffffff;
	-moz-box-shadow: 0px 0px 4px -2px #000000;
	-webkit-box-shadow: 0px 0px 4px -2px #000000;
	box-shadow: 0px 0px 4px -2px #000000;
}
ul.links-items {
	clear: both;
	list-style: none;
	padding: 0;
	margin-top: 15px;
}
ul.links-items li a {
	padding: 3px 10px;
	display: block;
	float: right;
	width: 30%;
	font-size: 9pt;
}
ul.links-items li a:hover {
	background: dodgerblue;
	color: #ffffff;
	-moz-box-shadow: 0px 0px 4px -2px #000000;
	-webkit-box-shadow: 0px 0px 4px -2px #000000;
	box-shadow: 0px 0px 4px -2px #000000;
}
.button * {
	font-size: 9pt;
}
.order-tracking-popup {
	display: none;
	position: absolute;
	right: 40px;
	top: 40px;
}

