@font-face{
    font-family:'wYekan';
    src:url('../fonts/wYekan.eot?#') format('eot'), /* IE6â€“8 */ url('../fonts/wYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/wYekan.ttf') format('truetype');  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
}
*{ direction:rtl; }
#breadcrumbs ul li a{ padding:5px 20px 6px 10px; float:right; }
#breadcrumbs ul li a:after{ border-right:12px solid #3498db; border-left:none; left:-12px; right:auto; }
#breadcrumbs ul li a.active:after{ border-right-color:#525252; }
#breadcrumbs ul li a:before{ border-right:12px solid #e9e9f0; border-left:none; left:auto; right:0; }
#breadcrumbs ul li:first-child a{ -moz-border-bottom-left-radius:0px; -moz-border-bottom-right-radius:5px -moz-border-top-left-radius : 0 px; -moz-border-top-right-radius:5px; -webkit-border-bottom-left-radius:0px; -webkit-border-bottom-right-radius:5px; -webkit-border-top-left-radius:0px; -webkit-border-top-right-radius:5px; border-bottom-left-radius:0px; border-bottom-right-radius:5px; border-top-left-radius:0px; border-top-right-radius:5px; padding-left:0px; padding-right:10px; }
#breadcrumbs ul li:last-child a{ -moz-border-top-right-radius:0px; -moz-border-bottom-right-radius:0px; -webkit-border-top-right-radius:0px; -webkit-border-bottom-right-radius:0px; border-top-right-radius:0px; border-bottom-right-radius:0px; -moz-border-top-left-radius:5px; -moz-border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; }
#breadcrumbs ul li a:hover:after{ border-right-color:green; }
#breadcrumbs ul li a.active:hover:after{ border-right-color:#525252; }
.ui-tabs .ui-tabs-nav li{ float:right; }
.ui-tabs-vertical > .ui-tabs-nav{ float:right; }
.ui-tabs-vertical > .ui-tabs-panel{ margin-left:0; margin-right:205px; }
.ui-tabs-vertical > .ui-tabs-nav li{ float:right; clear:left; margin:0 0 .2em -1px; }
.ui-tabs-vertical > .ui-tabs-nav li.ui-tabs-active{ padding-right:0; padding-left:.2em; border-right:1px solid #dddddd; border-left:none; }
.normal-list ul{ margin-right:20px; margin-left:0; }
.user-box{ direction:ltr !important; }
.col_top_menu ul.navigation{ float:right; }
.col_top_menu ul li{ float:right; }
.col_top_menu ul.navigation li ul{ left:auto; right:0; }
.col_top_menu ul.navigation li ul li a{border-radius:0; border-left:none; border-right:none;}
.col_top_menu ul.navigation li li.has-child .arrow{ left:auto; right:87%; border-left-color:transparent; border-right-color:#6a6a6a; border-width:5px 5px 5px 0; }
.col_top_menu ul.navigation li.has-child .arrow{ left:auto; right:4px; top:53%; }
.col_top_menu ul.navigation li ul ul{ left:auto; right:100%; }
.col_left { width:380px; display:inline-block; float:left; }
.col_middle{ display:inline-block; float:right; }
.col_right{ width:200px; display:inline-block; float:right; }
.col_left_slider{ margin-top:10px; }
.col_left_slider .slider-wrapper{ position:relative; }
.col_left_slider .nivo-controlNav{ bottom:-17px; position:absolute; right:45%; z-index:9999; }
/*----------------------------------real estate---------------------------------------*/
.main-new-real-estate{ margin-top:5px; }
.div-step{ position:relative; background:none repeat scroll 0 0 #fafafa; border:1px solid #e5e5e5; border-radius:10px; min-height:500px; width:100%; }
.step1{ display:block; padding:120px 30px 35px 30px !important; }
.step1 .logo_step1{ background:url(../images/real-estate/1_2.png) no-repeat center center; width:700px; height:62px; display:block; position:absolute; top:20px; right:28px; }
.step2 .logo_step2{ background:url(../images/real-estate/2_2.png) no-repeat center center; width:700px; height:62px; display:block; position:absolute; top:20px; right:27px; }
.step3 .logo_step3{ background:url(../images/real-estate/3_2.png) no-repeat center center; width:700px; height:62px; display:block; position:absolute; top:20px; right:28px; }
.step4 .logo_step4{ background:url(../images/real-estate/4_2.png) no-repeat center center; width:700px; height:62px; display:block; position:absolute; top:20px; right:29px; }
.step1 .logo_step_request{ background:url(../images/real-estate/moshakhasate-motaghazi.png) no-repeat center center; width:273px; height:100px; display:block; position:absolute; top:-52px; right:32px; }
.step2{ position:relative; display:none; }
.step3{ position:relative; display:none; }
.step4{ position:relative; display:none; }
.text-new-area{ display:none; }
#real_estate_form_page #real_estate_form label{ display:inline-block; }
.tbl_part1, .tbl_part2{ width:100%; display:block; margin:10px auto 0 auto; }
.tbl_part1 tr td, .tbl_part2 tr td{ width:280px; padding:6px 10px; }
.div-step .form_element.select{ position:relative; }
.div-step .form_element label{ font-family:WYekan; font-size:9pt; color:#535353; text-align:right; font-weight:normal; }
.div-step .form_element input{ border-radius:8px; float:left; height:25px; width:132px; }
.div-step .form_element #addressShort{ width:440px; }
.div-step .form_element #addressFull{  }
#openNewArea{ font-family:Tahoma; font-size:8pt; text-decoration:none; }
.help_step{ margin-bottom:25px; background:none repeat scroll 0 0 #fff1de; border:1px solid #fdc588; border-radius:10px; position:relative; width:100%; }
.help_step legend{ background:none repeat scroll 0 0 #fed498; border-bottom:medium none; border-radius:25px; font-family:WYekan; font-size:11pt; padding:2px 15px; position:absolute; right:8px; top:-12px; width:110px; }
.next-button{ background:url(../images/real-estate/next.png) no-repeat center center; width:107px; height:42px; display:block; position:absolute; left:35px; bottom:15px; cursor:pointer; }
.back-button{ background:url(../images/real-estate/prev.png) no-repeat center center; width:107px; height:42px; display:block; position:absolute; right:35px; bottom:15px; cursor:pointer; }
.step2 .element_postfix{ display:none; }
.col-xs-6{ margin:5px 0; min-height:35px; }
.step2 .div_part1{ }
.div-step{ padding-top:120px; padding-bottom:5px; }
.f_part{ background:#f3ffff; width:100%; border:1px solid #a5e5ff; padding-top:20px; margin:0 auto 25px; position:relative; padding-bottom:22px; }
.f_moshaver_amlak{ width:100%; border-top:3px solid #e8e8e8; padding-top:20px; margin:auto; position:relative; padding-bottom:22px; }
.f_part > legend{ width:105px; height:25px; display:block; float:right; background:#a5e5ff; color:#535554; padding:4px 16px; font-size:10pt; font-family:WYekan; position:absolute; top:-14px; right:7px; border-radius:10px; }
.f_moshaver_amlak > legend{ width:105px; height:25px; display:block; float:right; background:#e8e8e8; color:#bcbcbc; padding:4px 16px; font-size:10pt; font-family:WYekan; position:absolute; top:-11px; right:0; }
.step2 .multi_checkbox legend{ border-bottom:medium none; color:#999999; font-family:WYEKAN; font-size:9pt; margin:0; }
.step2 .multi_checkbox label{ font-size:10pt; font-weight:normal; margin-right:10px; }
.step2 .multi_checkbox input{ width:25px; }
.step2 .multi_checkbox .items{ margin-right:30px; }
.div_part4 .trigger_demo2, .div_part5 .trigger_demo2{ margin-left:42px; }
.div_part4 .dropcontainer_demo2, .div_part5 .dropcontainer_demo2{ margin-left:42px; }
.div_part6 .multi_checkbox .items{ width:770px; }
.div_part3 .multi_checkbox legend{ display:none; }
.div_part3 .multi_checkbox .items, .div_part2 .multi_checkbox .items{ margin-right:0; }
.col_real_main_search{ background:none repeat scroll 0 0 #01addd; border:1px solid #cccccc; border-radius:10px; height:334px; width:100%; margin-top:10px; position:relative; }
.col_real_main_search .s_estateType, .col_real_main_search .s_stateId, .col_real_main_search .s_cityId, .col_real_main_search .s_areaId{ display:inline-block; float:right; margin:2px 20px; width:41%; }
.col_real_main_search .s_estateType label, .col_real_main_search .s_cityId label{ min-width:40px; font-family:WYekan; font-size:12pt; font-weight:normal; margin-right:0; }
.col_real_main_search .s_estateType .trigger_demo2, .col_real_main_search .s_cityId .trigger_demo2, .col_real_main_search .s_estateType .dropcontainer_demo2, .col_real_main_search .s_cityId .dropcontainer_demo2{ margin-left:28px; }
.col_real_main_search .s_stateId label, .col_real_main_search .s_areaId label{ font-family:WYekan; font-size:12pt; font-weight:normal; margin-right:12px; }
.col_real_main_search .s_totalPrice, .col_real_main_search .s_isRequest, .col_real_main_search .s_zirbana, .col_real_main_search .s_mortgagePrice, .col_real_main_search .s_rentalPrice{ display:block; margin:auto; width:92%; }
.col_real_main_search .s_totalPrice label, .col_real_main_search .s_isRequest label, .col_real_main_search .s_zirbana label, .col_real_main_search .s_mortgagePrice label, .col_real_main_search .s_rentalPrice label{ min-width:60px; display:inline-block; float:right; font-family:WYEKAN; font-size:12pt; font-weight:normal; }
.col_real_main_search .s_totalPrice #totalPrice_slider, .col_real_main_search .s_zirbana #zirbana_slider, .col_real_main_search .s_mortgagePrice #mortgagePrice_slider, .col_real_main_search .s_rentalPrice #rentalPrice_slider{ float:left; margin-left:15px; width:84%; }
.col_real_main_search .s_totalPrice .pull-left, .col_real_main_search .s_zirbana .pull-left, .col_real_main_search .s_mortgagePrice .pull-left, .col_real_main_search .s_rentalPrice .pull-left{ font-size:8pt; margin-right:26px; }
.col_real_main_search .s_totalPrice .pull-right, .col_real_main_search .s_zirbana .pull-right, .col_real_main_search .s_mortgagePrice .pull-right, .col_real_main_search .s_rentalPrice .pull-right{ font-size:8pt; margin-left:18px; }
.col_real_main_search .box_real_main_search{ padding-top:72px; }
.col_real_main_search .s_regType{ position:absolute; top:4px; right:4px; }
.col_real_main_search .s_regType .radio{ display:inline-block; float:right; margin:0 20px 0 0; padding:0; }
.col_real_main_search .s_regType .radio input{ visibility:hidden; position:absolute; }
.col_real_main_search .s_regType .radio label{ color:#ffffff; display:block; font-family:WYEKAN; font-size:11pt; padding:7px 7px; position:relative; text-align:center; }
.label_active{ background:none repeat scroll 0 0 #0045aa; border-radius:5px; }
.label_inactive{ background:none repeat scroll 0 0 #ffffff !important; border-radius:0; }
.col_real_main_search .s_regType .form-group > label{ display:none; }
.col_real_main_search .btn-default{ position:absolute; left:0; bottom:10px; overflow:hidden; background:url(../images/real-estate/Melk2124_search.png) no-repeat center center; width:107px; height:39px; display:block; text-indent:-10000px; float:left; margin-left:60px; text-shadow:none; border:none; box-shadow:none; }
.step3 .real_desc label, .step3 .img_realestate legend{ display:none; }
.step3 .real_desc textarea{ border-radius:10px; height:160px; }
.step3 .checkbox label{ padding-right:0; }
.step3 .checkbox input{ float:right; height:58px; margin-left:10px; width:0; }
.step3 .img_realestate fieldset input{ display:inline-block; float:right; margin:10px 10px; }
.padding_bottom{ padding-bottom:20px; }
.step3 .help_step3 .content_help{ height:212px; }
.step3 .desc_realestate fieldset{ padding-bottom:0; }
.step4 .help_step4 .content_help{ width:275px; height:145px; margin-right:15px; margin-top:35px; float:right; }
.step4 .help_step4{ width:340px; }
.step4 .step4_right{ width:450px; height:450px; display:inline-block; float:right; }
.step4 .step4_left{ width:450px; height:450px; display:inline-block; float:left; }
.step4 .step4_right #captcha-image{ margin-right:130px; margin-top:20px; }
.step4 .step4_right #captcha{ border-radius:10px; height:30px; margin-right:145px; margin-top:5px; width:170px; }
.step4 .new-real-estate-btn fieldset{ float:left; margin-top:30px; }
.step4 .new-real-estate-btn fieldset #buttons_submit-new{ display:none; }
.step4 .new-real-estate-btn fieldset #buttons_submit{ background:url(../images/real-estate/sabte-melk.png) no-repeat center center; width:113px; height:31px; display:block; border:none; text-indent:-10000px; margin-left:60px; }
.step4 .back-button{ position:inherit; margin-top:30px; margin-right:60px; }
.step2 .text .span{ float:left; }
.real-estate-list-wrapper{ background:#fdfdfd; border-radius:10px; border:1px solid #cccccc; margin-top:10px; position:relative; }
.real-estate-list-wrapper #sort{ border:1px solid #cccccc; color:#7b7b7b; float:right; height:25px; margin:10px 20px; }
.real-estate-list-wrapper .list_col_right{ width:500px; display:inline-block; float:right; position:relative; }
.real-estate-list-wrapper .list_col_right .icon_details{ background:url(../images/real-estate/joziyat.png) no-repeat center center; width:126px; height:25px; display:block; }
.real-estate-list-wrapper .list_col_right .tbl_list td label{ color:#000000; font-family:WYekan; font-size:10pt; font-weight:normal; }
.real-estate-list-wrapper .list_col_right .tbl_list td span{ color:#000000; font-family:WYekan; font-size:10pt; }
.real-estate-list-wrapper .list_col_right .real-estate-title .title_list{color:#007fb6; font-family:WYekan; font-size:12pt; margin-right:102px; padding:10px 0 0; }
.real-estate-list-wrapper .list_col_left{ width:150px; height:150px; display:inline-block; float:left; border-radius:10px; }
.real-estate-list-wrapper .list_col_left img{ margin-right:40px; margin-top:30px; }
.real-estate-list-wrapper .list_col_left .date-time, .user_created{ color:#4c4c4c; font-family:tahoma; font-size:7pt; margin-top:3px; text-align:center; }
.real-estate-list-wrapper .list_col_right .tbl_list{ width:490px; display:block; margin:10px 27px 0 0; }
.real-estate-list-wrapper .real-estate-content{background: none repeat scroll 0 0 #fff2d5;border: 1px solid #ffbe6a;border-radius: 10px;height: 160px;margin: 4px 10px;}
.price{ font-family:tahoma !important; font-size:9pt !important; }
.currency-code{ font-size:9pt !important; }
.real-estate-item-page .real_details .view-img{ background:url(../images/real-estate/tik.png) no-repeat center center; width:16px; height:13px; display:inline-block; }
.real-estate-item-page .real_details div{ position:relative; display:inline-block; float:right; width:32%; }
.real-estate-item-page .real_details div span/*, .real-estate-item-page .footer-agent-tbl td span*/{ color:#6d6d6d; font-family:WYekan; font-size:12pt; }
/*.footer-agent-tbl .view-img-others{ background:url(../images/real-estate/arrow.png) no-repeat center center; width:11px; height:12px; display:inline-block; }*/
.error{ border:1px solid #ff6262; background:#ffdde8; }
#real_estate_form_page{ position:relative; }
#real_estate_form_page .back_loading{ width:100%; height:100%; position:absolute; top:0; left:0; background:#000000; z-index:999; border-radius:10px; opacity:0.7; filter:alpha(opacity=70); display:block; }
#real_estate_form_page .back_loading .img_loading{ background:url(../images/real-estate/blue_loading.gif) no-repeat center center; width:230px; height:76px; display:block; position:absolute; right:35%; top:42% }
#step2 .ui-spinner{ margin-right:14px; }
#step4 .new-real-estate-btn fieldset legend{ display:none !important; }
#step4 .help_step4{ margin-right:87px; }
.fieldset_view_real legend .code{ color:#ffffff; display:block; float:left; font-family:WYekan; font-size:20pt; height:37px; margin-left:12px; }
.fieldset_view_real legend .label{ background:none repeat scroll 0 0 #ffffff; border:3px solid #f36523; border-radius:30px; color:#f36523; font-family:WYekan; font-size:14pt; height:30px; position:absolute; right:16px; top:-14px; width:80px; }
.real-estate-item-page{ background:none repeat scroll 0 0 #fdfdfd; border:1px solid #cccccc; border-radius:10px; padding:40px; }
.fieldset_view_real{ position:relative; padding-top:80px; }
.fieldset_view_real > legend{ background:none repeat scroll 0 0 #f36523; border-radius:50px; position:absolute; right:12px; top:57px; width:207px; z-index:999; -moz-box-shadow:inset -1px -1px 6px -4px #000000; -webkit-box-shadow:inset -1px -1px 6px -4px #000000; box-shadow:inset -1px -1px 6px -4px #000000; }
.box_real_estate_view .header-content-print{ left:256px; position:absolute; top:-38px; }
.box_real_estate_view .header-content-compare{ left:79px; position:absolute; top:-43px; }
.box_real_estate_view .header-content-visit-count{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #e7e7ef;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-color: -moz-use-text-color #cccccc #cccccc;border-image: none;border-style: none solid solid;border-width: medium 1px 1px;color: #000000;font-family: WYekan;font-size: 10pt;height: 30px;left: 311px;padding-right: 18px;padding-top: 4px;position: absolute;top: -68px;}
.box_real_estate_view .header-content-print .real-estate-print-btn{ background-color:#e7e7ef;border-bottom: 1px solid #cccedb;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-left: 1px solid #cccedb;border-right: 1px solid #cccedb;cursor: pointer;display: inline-block;height: 32px;padding: 19px 25px;text-indent: -999px;width: 32px;}
.box_real_estate_view .header-content-compare .real-add-to-compare{ cursor:pointer; background:none repeat scroll 0 0 #f36523; border-top-left-radius:10px; border-top-right-radius:10px; color:#ffffff; display:block; font-family:WYekan; font-size:13pt; height:43px; margin-top:0; padding-top:10px; text-align:center; width:64px; text-decoration:none; }
.real_title_view{ margin:0 50px 24px; }
.default_empty_map{ background:url(../images/real-estate/mokhtassat.jpg) no-repeat center center; width:100%; height:100px; display:block; }
.default_empty_images{ background:url(../images/real-estate/image-02.png) no-repeat center center; width:81px; height:81px; display:block; }
.box_moshaver_amlak{ padding:35px 50px 0; background:#ffffff; margin-top:20px; border:1px solid #cccccc; border-radius:10px; }
.moshaver_right{ width:48%; float:right; display:inline-block; }
.moshaver_left{ width:48%; float:left; display:inline-block; }
#quick_send_mail .form_element{ margin-top:5px; }
#quick_send_mail .form_element label{ color:#999999; font-family:Wyekan; font-size:11pt; font-weight:normal; }

#quick_send_mail .captcha-box img{ left:0; position:absolute; top:80px; }
#quick_send_mail .captcha-box input{ display:block; float:right; margin-right:71px; margin-top:5px; }
#divQuickSendMail .quick-send-mail-button{ background:none repeat scroll 0 0 #f36523; border:medium none; border-radius:10px; font-family:WYekan; width:60px; text-decoration:none; display:block; margin:auto; }
/*.footer-agent-tbl span{ color:#999999; font-family:WYekan; font-size:11pt; }*/
.box_compare{ z-index:9999; width:0; background:#ffffff; height:58px; position:fixed; left:0; top:240px; -moz-box-shadow:0 0 5px -2px #000000; -webkit-box-shadow:0 0 5px -2px #000000; box-shadow:0 0 5px -2px #000000; border-top-right-radius:5px; border-bottom-right-radius:5px; }
.box_compare .img_compare{ background:url(../images/real-estate/compare_icon.png) no-repeat center center; height:39px; width:39px; display:block; margin:10px auto; }
.box_real_compare{ border:1px solid #cccccc; border-radius:10px; background:#ffffff; position:relative; }
.box_real_compare table{ }
.box_real_compare table tbody{ }
.box_real_compare table tr td{ padding:5px 20px; border-bottom:1px dotted #55a2cc; border-right:1px solid #cccccc; }
.box_real_compare table tr .td_title{ border-bottom:1px dotted #55a2cc; border-right:none; }
.box_real_compare table tr .td_00{ width:150px !important; border-bottom:none; }
.box_real_compare table tr .td_01{ width:200px !important; border-bottom:none; }
.box_real_compare table tr .td_02{ width:200px !important; border-bottom:none; }
.box_real_compare table tr .td_03{ width:200px !important; border-bottom:none; }
.box_real_compare table tr .td_04{ width:200px !important; border-bottom:none; }
.box_real_compare table tr .td_10{ display:block; min-height:91px; }
.box_real_compare .compare_title{ position:absolute; top:12px; right:25px; }
.box_real_compare .compare_title .icon_compare{ background:url("../images/real-estate/compare_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0); display:block; height:39px; margin:10px auto; width:39px; }
.box_real_compare .compare_title .text_compare{ color:#01328f; font-family:WYekan; font-size:16pt; }
.box_real_compare .delete_real_compare{ margin:auto; background:url(../images/real-estate/delete-icon1.png) no-repeat center center; width:20px; height:20px; display:block; overflow:hidden; text-indent:-10000px; }
.box_real_compare img{ display:block; margin:auto; }
.user-box .logout{ background:url(../images/logout1.png) no-repeat center center; width:20px; height:20px; display:block; overflow:hidden; text-indent:-10000px; }
.admin_link_box a{ background:url(../images/admin_icon.png) no-repeat center center; width:20px; height:20px; display:block; overflow:hidden; text-indent:-10000px; }
.admin_link_box{ margin-top:5px; display:inline-block; }
.user-box{ font-family:WYekan; font-size:9pt; }
.special_estate .estate-item img{ border-radius:10px; float:none !important; }
.special_estate .estate-item{ padding:5px; }
.special_estate .estate-item .text_img_url{ background:none repeat scroll 0 0 #000000; border-bottom-left-radius:10px; border-bottom-right-radius:10px; bottom:5px; display:block; height:55px; margin:0 5px; padding:0 7px; position:absolute; right:0; text-align:justify; opacity:0.8; filter:alpha(opacity=80); }
.special_estate .estate-item .text_img_url span{ color:#ffffff; font-family:WYekan; font-size:8pt; }
.special_estate{ position:relative; }
.special_estate .prev{ background:url(../images/real-estate/right-arrow.png) no-repeat scroll center center !important; }
.special_estate .next{ background:url(../images/real-estate/left-arrow.png) no-repeat scroll center center !important; }
.special_estate .block-title{ background:url(../images/real-estate/amlak-vijhe.png) no-repeat center center; width:90px; height:90px; display:block; position:absolute; top:2px; left:2px; z-index:999; }
.transfer_menu ul{ padding:0; }
.transfer_menu ul li{ display:block; }
.new_real_estate{ margin-top:15px; position:relative; background:none repeat scroll 0 0 #ffffff; border:1px solid #cccccc; border-radius:10px; }
.new_real_estate .content-slider-container{ padding:0 10px 0 10px !important; }
.new_real_estate ul li{ border-bottom:1px solid #cccccc; padding:10px 0; }
.new_real_estate ul li a{ text-decoration:none; }
.new_real_estate .media{ margin-top:0 !important; }
.new_real_estate .media a img{ margin-top:5px; }
.new_real_estate .estate-item .text_img_url span{ font-family:WYekan; font-size:10pt; }
.new_real_estate .top_text{ margin-top:10px; text-align:right; }
.new_real_estate .top_text span{ color:#bd1f2d !important; }
.new_real_estate .bottom_text{ text-align:right; }
.new_real_estate .bottom_text span{ color:#000000 !important; }
.request .captcha-box{ display:block; margin:50px auto; width:200px; }
.request .new-real-estate-btn #buttons_submit-new{ display:none; }
.request .new-real-estate-btn #buttons_submit{ background:url(../images/real-estate/sabte-melk.png) no-repeat center center; width:113px; height:31px; display:block; border:none; text-indent:-10000px; position:absolute; left:35px; bottom:15px; }
.step3 #map{  background-color: #e5e3df;height: 152px !important;margin: auto;overflow: hidden; position: relative; width: 339px !important;}
.help_step4 .content_help ul{ padding:0 !important; }
.help_step4 .content_help ul li{ font-family:WYekan; font-size:10pt; margin:14px 30px; }
.box_statistic{ z-index:9999; width:240px; height:400px; position:fixed; left:-310px; top:180px; z-index:99999; }
.box_statistic .icon_st{ width:70px; display:block; background:#ffffff; height:58px; position:absolute; right:-70px; top:0; -moz-box-shadow:0 0 5px -2px #000000; -webkit-box-shadow:0 0 5px -2px #000000; box-shadow:0 0 5px -2px #000000; border-top-right-radius:5px; border-bottom-right-radius:5px; }
.box_statistic .content_st{ width:240px; }
.box_statistic .icon_st .img_statistic{ border:none; background:url(../images/real-estate/icon-statistics.png) no-repeat center center; height:45px; width:48px; display:block; margin:10px auto; }
/*------------------------------------------------------------------------------------*//*---------------------------------- real estate agent -------------------------*/
.card{ float:right; height:175px; margin:5px 0 0 2px; padding:10px; position:relative; width:310px; border:1px solid #ccc; background:#fbfbfb; }
.logo_card{ height:83px; margin-left:5px; padding:2px; width:83px; position:absolute; left:0px; }
.title_card{ margin-top:7px; max-height:30px; text-align:right; }
.card-date{ max-height:30px; text-align:right; }
.title_card h2{ float:right; color:#09c; margin-top:-3px; font-family:WYekan !important; font-size:10pt !important; }
.text_card{ float:right; line-height:180%; margin:5px 0 0; text-align:right; width:120px; }
.text_card p{ text-align:right; }
.information_card{ clear:both; line-height:160%; padding-top:0px; text-align:right; }
.information_card p{ display:inline; font-family:WYekan !important; font-size:10pt !important; }
.information_card label{ display:inline; font-family:WYekan !important; font-size:10pt !important; font-weight:normal; }
.card-date label{ display:inline; font-family:tahoma !important; font-size:7pt !important; }
.card-date p{ display:inline; }
/*------------------------------------------ end -------------------------------*//*------------------------------------------login popup-------------------------*/
.login_page .login_block .form_element{ background:#d4d4d4 !important; }
.login_page .login_block #forgot_password{ width:177px !important; font-weight:normal; border:none; text-align:center; font-size:8pt !important; margin:5px 0; text-decoration:none; display:block; }
.login_page .login_block #submit{ width:170px !important; margin:5px; border-radius:6px; }
.ui-button-text-only .ui-button-text{ font-size:11px; margin:3px 0; }
.login_page .login_block #register{ width:91px !important; height:24px; font-weight:normal; float:left; margin:5px; border-radius:6px; }
.login_page .login_block .form_element{ }
.ui-state-default{ color:#666666 !important; }
.ui-state-focus{ color:#666666 !important; }
.login_page .login_block .form_element label{ color:#6f6f6f !important; }
#user_login_popup{ background:none repeat scroll 0 0 #f7f7f7; border:1px solid #bfbfbf; padding:0 !important; width:180px; position:absolute; }
#login label{ display:none; }
#login span{ font-family:tahoma; }
#login #register{ display:none; }
#login .required{ display:none; }
#login #submit .glyphicon{ display:none; }
#forgot_password .ui-state-hover{ background:none; }
#login .text span{ display:none; }
#username{ background:url(../images/login-user2.png) no-repeat scroll right center #ffffff; height:19px; margin:2px auto; padding:2px; width:160px; text-align:left; display:block; }
#password{ background:url(../images/login-pass2.png) no-repeat scroll right center #ffffff; height:19px; margin:0px auto 3px auto; padding:2px; width:160px; text-align:left; display:block; }
.login_page .login_block .form_element{ padding:0 !important; margin:0 !important; }
.login_page .login_block{ width:180px !important; }
.login-date{ text-align:center; font-family:tahoma; font-size:9pt; margin-top:5px; margin-bottom:5px; }
.login_page .login_block #forgot_password span{ font-size:8pt !important; }
#forgot_password:hover{ background:#f7f7f7 !important; border:none !important; color:#666666 !important; }
/*--------------------------------------------------------------------------------------*/
.btn_register{ text-decoration:none; z-index:9999; background:none repeat scroll 0 0 #01addd; height:25px; left:0; position:absolute; text-align:center; top:143px; width:155px; color:#ffffff; font-family:WYekan; padding-top:5px; font-size:13px; }
.btn_register:hover{ color:#ffffff !important; text-decoration:none; !important; }
.icon_free{ background:url(../images/real-estate/Melk2124_free.png) no-repeat center center; width:31px; height:31px; display:block; position:absolute; top:121px; left:75px; z-index:999999; }
.statistic_right{ background:none repeat scroll 0 0 #d3ebf7; border:1px solid #c3e4f5; border-radius:10px; display:inline-block; float:right; margin-top:20px; padding:10px; width:340px; position:relative; }
.statistic_left{ background:none repeat scroll 0 0 #d3ebf7; border:1px solid #c3e4f5; border-radius:10px; display:inline-block; float:left; margin-top:20px; padding:10px; width:340px; position:relative; }
.statistic_right .block-title{ background:none repeat scroll 0 0 #6dcef8; border:2px solid #00acee; border-radius:10px; color:#00338e; font-family:WYekan; padding:2px 8px; position:absolute; right:9px; top:-12px; }
.statistic_right .block-content{ margin-top:10px; }
.statistic_left .block-title{ background:none repeat scroll 0 0 #6dcef8; border:2px solid #00acee; border-radius:10px; color:#00338e; font-family:WYekan; padding:2px 8px; position:absolute; right:9px; top:-12px; }
.statistic_left .block-content{ margin-top:10px; }
.select2{ width:140px !important; float:left; font-size:9pt; }
.search_map ul{ padding:0; }
.search_map ul li{ display:block; }
.content_help{ padding:10px; }
.content_help ul{ padding-right:17px; }
.content_help ul li{ color:#e76161; font-family:WYekan; font-size:10pt; margin:3px 0; }
.desc_realestate{ margin-bottom:20px; }
.s_right, .s_left{ width:49% !important; margin-bottom:10px; }
.statistics-estate-agent td{ border-color:-moz-use-text-color -moz-use-text-color #cccccc #cccccc; border-style:none none solid solid; border-width:medium medium 1px 1px; color:#373735; font-family:tahoma; font-size:8pt; font-weight:normal; padding:5px; text-align:center; }
.statistics-estate-agent{ border-right:1px solid #cccccc; border-top:1px solid #cccccc; }
.statistic_agent .block-title, .statistic_visit_count .block-title{ background:none repeat scroll 0 0 #6dcef8; border:2px solid #00acee; border-radius:10px; color:#00338e; font-family:WYekan; padding:2px 8px; position:absolute; right:9px; top:-12px; }
.statistic_agent{ background:none repeat scroll 0 0 #d3ebf7; border-radius:10px; position:relative; margin-top:10px; padding-bottom:10px; padding-top:20px; }
.view_part_f{ border:1px solid #cccccc; display:inline-block; /*float: right;*/ margin-top:20px; padding:20px; position:relative; width:45%; }
.view_part_f legend{ background:none repeat scroll 0 0 #d6d6d6; border-radius:3px; font-family:WYekan; font-size:10pt; position:absolute; right:4px; text-align:center; top:-13px; width:100px; }
.view_part_f .view_part_f_d .label{ color:#c72121; font-family:WYekan; font-size:13pt; font-weight:normal; }
.view_part_f .view_part_f_d .value{ color:#00adef; font-family:WYekan; font-size:12pt; font-weight:normal; }
.header-content-real-estate{background:#e7e7ef; border-bottom: 1px solid #cccedb;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-left: 1px solid #cccedb;border-right: 1px solid #cccedb; left: -1px;padding:0 5px;position: absolute;top: -68px;width: 250px; }
.box_btn_all_r{ background:none repeat scroll 0 0 #ffffff; border:1px solid #cccccc; border-radius:2px; height:180px; position:relative; width:100%; }
.btn_request{ border:none; text-decoration:none; left:150px; position:absolute; top:30px; background:url(../images/real-estate/sepordan-melk.png) no-repeat center center; width:251px; height:51px; display:block; float:right; }
.btn_transfer{ border:none; text-decoration:none; left:150px; position:absolute; top:100px; background:url(../images/real-estate/taghazaye-melk.png) no-repeat center center; width:251px; height:51px; display:block; float:right; }
.after_new_icon{ position:absolute; right:150px; top:36px; background:url(../images/real-estate/after_new.png) no-repeat center center; width:125px; height:100px; display:block; float:right; }
.center_co{ background:none repeat scroll 0 0 #ffffff; border:1px solid #cccccc; border-radius:10px; height:36px; margin-top:10px; padding-top:7px; width:100%; }
.center_co .label{ color:#7e7e7e; font-family:WYekan; font-size:12pt; font-weight:normal; }
.center_co .value{ color:#cc0000; font-family:WYekan; font-size:12pt; }
.like_realestate{ margin-top:10px; position:relative; }
.like_realestate .like_realestate_title, .user-agent-estates .like_realestate_title{ font-family:Wyekan; font-size:14pt;z-index:9999; }
.help_request{ float:left !important; top:-50px; }
.f_request legend{ width:150px !important; }
.desc_request textarea{ height:150px !important; }
.step_request fieldset #buttons_submit-new{ display:none; }
.step_request fieldset #buttons_submit{ background:url(../images/real-estate/sabte-taghaza.png) no-repeat center center; width:113px; height:31px; display:block; border:none; text-indent:-10000px; margin-left:60px; position:absolute; left:45px; bottom:25px; }
.step_request .captcha-box{ bottom:-7px; height:83px; position:absolute; right:212px; width:150px; }
.s_isRequest .radio{ display:inline-block; margin:0; padding:0; width:115px; }
.s_isRequest label{ margin-left:3px; }
.s_isRequest .radio label{ font-size:10pt; font-weight:normal; margin:0; padding:0; }
.s_isRequest .radio label input{ margin:2px; }
.col_right_search_r .s_estateType label, .col_right_search_r .s_isRequest label, .col_right_search_r .s_regType label{ display:none; }
.col_right_search_r .select2{ margin-left:6px; width:230px !important; }
.col_right_search_r #real-estate-search div{ clear:both; }
.col_right_search_r .s_isRequest{ padding-top:10px; }
.col_right_search_r .s_regType{ padding-top:10px; }
.col_right_search_r{ -moz-border-bottom-colors:none; -moz-border-left-colors:none; -moz-border-right-colors:none; -moz-border-top-colors:none; background:none repeat scroll 0 0 #ffffff; border-bottom:1px solid #cccccc; border-image:none; border-left:1px solid #cccccc; border-radius:12px; border-right:20px; border-top:1px solid #cccccc; margin:4px; }
.col_right_search_r .block-title{ border-bottom:1px solid #999999; font-family:WYekan; font-size:12pt; margin:5px 5px 15px; text-align:center; }
.col_right_search_r .form-group{ margin-bottom:0; }
.col_right_search_r .form-group .btn-default{ margin:5px 67px; }
.col_right_search_r .form-group input{ margin-right:8px; width:229px; }
.col_right_search_r .form-group label{ color:#723919; font-family:WYekan; font-weight:normal; margin-bottom:0; }
.statistic_visit_count{ background:none repeat scroll 0 0 #d3ebf7; border-radius:10px; clear:both; display:block; float:right; margin-bottom:10px; margin-top:10px; padding:20px 10px 10px; position:relative; width:49%; }
.statistic_visit_count table tr{ border-bottom:1px solid #ccc; }
.statistic_visit_count table tr .visits-label{ padding:5px; }
.statistic_visit_count table tr .visits-value{ text-align:center; }
#real-estate-list .message-content{ font-size:10pt; padding:10px 25px; }
.div_part_request_p #transferFields_masahate_zamin{ width:150px !important; }
.real-estate-item-page .view-location{ border:none !important; }
.real-estate-item-page .view-location legend{ display:none; }
.user-profile-image{ position:absolute; left:40px; top:100px; }
.view-user-info{ border-spacing:0; display:block; padding-top:40px; width:430px; margin-right:20px; }
.view-user-info tbody tr{ border-bottom:1px dotted #dbd7c6; list-style:none outside none; }
.view-user-info tbody tr td{ font-family:WYekan; font-size:10pt; min-width:90px; }
.box-view-user-info{ background:none repeat scroll 0 0 #fbfbfb; border:1px solid #cccccc; min-height:300px; position:relative; }
.user-name-title{ font-family:WYekan; font-size:13pt; }
.box-view-user-info .page-title{ color:#8b0000; font-family:WYekan; font-size:10pt; left:25px; margin:0; position:absolute; top:70px; width:250px; text-align:center; }
.view-user-info img{ vertical-align:bottom; }
.user-agent-estates{ position:relative; }
.up_price{ background:url(../images/real-estate/up_price.png) no-repeat center center; display:inline-block; width:45px; height:46px; float:right; }
.down_price{ background:url(../images/real-estate/down_price.png) no-repeat center center; display:inline-block; width:45px; height:46px; float:right; }
.width_290{ width:290px !important; }
.width_290 .value{ margin-top:12px; display:block; font-size:10pt !important; }
.l_request{ position:absolute; right:-15px; top:0; }
.col_real_main_search .s_totalPrice, .col_real_main_search .s_mortgagePrice{ margin-top:3px; }
/*------------------------------latest real estate --------------------*/
.latest_real_estate_b{ margin-top:12px; }
.latest_real_estate_b .tabs-latest-reg-type ul{ padding:0 !important; background:none !important; border:none !important; display:block !important; width:auto !important; right:-14px !important; top:10px !important; }
.latest_real_estate_b .tabs-latest-reg-type ul li{ margin:0 !important; padding:0 !important; border:none !important; background:none !important; }
.latest_real_estate_b .tabs-latest-reg-type ul li:hover{ border:none !important; background:none !important; }
.latest_real_estate_b .tabs-latest-reg-type ul li a:hover{ border:none !important; }
.latest_real_estate_b .tabs-latest-reg-type ul li a{ padding:0 !important; }
.latest_real_estate_b .tabs-latest-reg-type ul li a.active{ padding:0 !important; }
.latest_real_estate_b .tabs-latest-reg-type-div table{ color:#000000; font-family:Tahoma; font-size:8pt; font-weight:normal; list-style-type:none; text-align:right; border-spacing:3px; border-collapse:separate; }
.latest_real_estate_b .tabs-latest-reg-type-div table thead > tr{ background:#d8d8d8; }
.latest_real_estate_b .tabs-latest-reg-type-div table thead tr > th{ text-align:center; font-family:WYekan; font-size:9pt; font-weight:normal; padding:5px; }
.latest_real_estate_b .tabs-latest-reg-type-div table tbody > tr{ text-align:center; }
.latest_real_estate_b .tabs-latest-reg-type-div table tbody tr td > a{ width:100% !important; display:block !important; }
.latest_real_estate_b .tabs-latest-reg-type-div table tbody tr td{ padding:4px; }
.latest_real_estate_b .tabs-reg-type-div-table-tbody-tr0{ background:#fcfcfc; }
.latest_real_estate_b .tabs-reg-type-div-table-tbody-tr1{ background:#eaeaea; }
.latest_real_estate_b .tabs-reg-type-div-table-tbody-tr0:hover, .tabs-reg-type-div-table-tbody-tr1:hover{ background:#fffacd; }
.latest_real_estate_b #tabsLatestEstateType > ul{ background:#ececec !important; border-right:none; border-left:none; border-top:none; }
.latest_real_estate_b #tabsLatestEstateType > ul > li > a{ color:#6d6d6d !important; padding:5px 31px 5px !important; font-size:13px; font-family:WYekan; }
.latest_real_estate_b #tabsLatestEstateType > ul > li{ border-top-left-radius:5px; border-top-right-radius:5px; padding-left:5px; padding-right:5px; }
.latest_real_estate_b #tabsLatestEstateType > ul > li:hover{ background:#ffffff !important; border-top:1px solid #c1c1c1 !important; border-left:1px solid #c1c1c1 !important; border-right:1px solid #c1c1c1 !important; border-radius:5px !important; }
.latest_real_estate_b .froosh a.ui-tabs-anchor{ background:url(../images/real-estate/tem_colored-18.png) no-repeat center center; width:30px; height:88px; display:block }
.latest_real_estate_b .ui-state-active.froosh a.ui-tabs-anchor{ background:url(../images/real-estate/tem_colored-19.png) no-repeat center center; width:30px; height:88px; display:block }
.latest_real_estate_b .rahn a.ui-tabs-anchor{ background:url(../images/real-estate/tem_colored-20.png) no-repeat center center; width:30px; height:88px; display:block }
.latest_real_estate_b .ui-state-active.rahn a.ui-tabs-anchor{ background:url(../images/real-estate/tem_colored-21.png) no-repeat center center; width:30px; height:88px; display:block }
.latest_real_estate_b #tabsLatestEstateType div{ padding:3px 14px 0 0 !important; }
.latest_real_estate_b .tabs-latest-reg-type{ border:none !important; }
.latest_real_estate_b .corner-title{ background:no-repeat center center; width:25px; height:197px; display:block; position:absolute; left:-16px; top:20px; z-index:999999; }
/*------------------------------------- end -----------------------------*/
.main_slider{ margin-top:20px; }
.main_slider .nivo-controlNav{ bottom:0; position:absolute; right:45%; z-index:999999; }
.latest_content_b{ border:1px solid #cccccc; float:right; width:550px; display:block; }
.latest_content_b .text_img_url{ display:block; }
.latest_content_b .viewport{ height:110px !important; }
.latest_content_b .block-title{ background:url(../images/real-estate/bg_title_rep.png) center center; height:31px; display:block; color:#2d3192; font-family:WYekan; font-size:11pt; padding:5px 10px; }
.latest_content_b .item a{ margin-right:20px !important; margin-top:20px; }
.latest_content_b .item .text_img_url a{ color:#000000; margin-right:10px; margin-top:40px; text-align:right; text-decoration:none; }
.box_footer{ margin:auto; width:956px; position:relative; }
.box_footer p{ margin-top:10px; text-align:right; }
.box_footer .phone_icon_f{ background:url(../images/phone.png) no-repeat center center; width:245px; height:70px; display:block; position:absolute; top:0; left:0; }
/*-------------------------------------------------------------new web------------------------------------------------*/
#real_state_form .checkbox label{ font-size:10pt; padding-right:15px; position:relative; }
#real_state_form .checkbox label input, #real_state_form .multi_checkbox label input{ width:15px; height:25px; position:absolute; right:-25px; top:-7px; }
#real_state_form .multi_checkbox label{ font-size:10pt; padding-right:0; padding-left:17px; position:relative; }
#real_state_form .multi_checkbox label input{ right:-18px; }
.step2 .help_step,.step3 .help_step{ margin-right:15px; width:96%; }
.step4 .f_part{background:#ffffff;}
.step4 .final_part_tbl{margin: 20px auto; width: 97%; border-right: 1px solid #bbd7ff; border-top: 1px solid #bbd7ff;}
.step4 .final_part_tbl .label{color:#3266bc;}
.step4 .final_part_tbl thead{background:#ecf4ff;}
.step4 .final_part_tbl td{border-left: 1px solid #bbd7ff;border-bottom: 1px solid #bbd7ff;padding: 10px; text-align: center;}
.step4 .final_part_text{font-family: WYekan;font-size: 12pt;margin-right: 30px;margin-top: 5px;}
.step4 .captcha-box{margin-right:40%;}
.step4 .captcha-box #captcha{margin:5px 30px;}
.r_list_home_img{position: absolute;right: 7px;top: 37px;}

.box_real_estate_view{background:#ffffff; -moz-box-shadow:inset -1px -1px 6px -4px #000000; -webkit-box-shadow:inset -1px -1px 6px -4px #000000; box-shadow:inset -1px -1px 6px -4px #000000; border: 1px solid #cccccc;border-radius: 15px;margin-top: 57px;position: relative;}
.box_real_estate_view .f_part_view_left{border-radius: 15px;margin-bottom: 10px; background: none repeat scroll 0 0 #fff6e5;border: 1px solid #ffe6c7;margin-top: 40px;padding-top: 20px;position: relative;}
.box_real_estate_view .f_part_view_left legend{background: none repeat scroll 0 0 #01addd;border: 1px solid #bfebf6;border-radius: 30px;color: #ffffff;font-family: WYekan;font-size: 11pt;padding: 3px 0;position: absolute;right: 26%;text-align: center;top: -14px;width: 140px;}
.box_real_estate_view .f_part_view_left .view_part_f_d{background: none repeat scroll 0 0 #ffffff;border-radius: 15px;margin: 3px auto;padding: 5px;width: 98%;}
.box_real_estate_view .view_part_f_d .label,.box_real_estate_view .view_part_f_d .value{color: #000000;font-family: WYekan;font-size: 11pt;font-weight: normal;}
.box_real_estate_view .f_part_view_left .footer-agent-tbl tr td img{ display: block;height: 143px;margin: 5px auto;width: 143px;}
.box_real_estate_view .f_part_view_left #divQuickSendMail{width:100%;}
.box_real_estate_view .f_part_view_left .form-horizontal .form-group{margin:0 0 5px 0;}
.box_real_estate_view .f_part_view_left .form-horizontal .control-label{text-align:right; font-family: WYekan;font-size: 11pt;font-weight: normal;}
.box_real_estate_view .r_status_text{color: #c9706c;padding: 5px 20px;position: absolute;right: 20px;top: -36px;width: auto; background-color:#e7e7ef;border-top: 1px solid #cccedb;border-top-left-radius: 10px;border-top-right-radius: 10px;border-left: 1px solid #cccedb;border-right: 1px solid #cccedb;}
.box_real_estate_view .r_status_text span{font-family: WYekan;font-size: 12pt;}
.box_real_estate_view .f_part_view_right{background: none repeat scroll 0 0 #e9fbff;border: 1px solid #abe6f4;border-radius: 10px;margin: 40px 5px 20px;padding: 25px 10px;position: relative;}
.box_real_estate_view .f_part_view_right legend{background: none repeat scroll 0 0 #01addd;border-radius: 20px;color: #ffffff;font-family: WYekan;font-size: 11pt;padding: 3px 10px;position: absolute;right: 11px;text-align: center;top: -15px;width: 109px;}
.box_real_estate_view .f_part_view_right_orange{background: none repeat scroll 0 0 #fff8e6;border: 1px solid #ffe6c7;border-radius: 10px;margin: 40px 5px 20px;padding: 25px 10px;position: relative;}
.box_real_estate_view .f_part_view_right_orange legend{background: none repeat scroll 0 0 #ffc176; border:1px solid #f7b062; border-radius: 20px;color: #ffffff;font-family: WYekan;font-size: 11pt;padding: 3px 10px;position: absolute;right: 11px;text-align: center;top: -15px;width: 109px;}
.box_real_estate_view .f_part_view_right .active_icon{background:url(../images/real-estate/Arrow-05.png) no-repeat center center; width:13px; height:13px; display:inline-block; float:right;}
.box_real_estate_view .popup_box_images{display:none;}
.box_real_estate_view .header_view_r{ margin: 25px 0;}
.box_real_estate_view .r_allData_div{ padding-right:10px; }
.box_real_estate_view .r_allData_div .label,.box_real_estate_view .r_allData_div .value{color: #000000;font-family: WYekan;font-size: 11pt;font-weight: normal;}
.popup_box_images .title{color: #790000;font-family: WYekan;font-size: 12pt;margin: 10px;}

.top_banner{height: 65px;left: 0;position: absolute;top: 30px;width: 600px;}
.bottom_banner_b{background: none repeat scroll 0 0 #ffa900;float: left;height: 143px;width: 390px;}
#tabsLatestEstateType{min-height:238px !important;}
.col_left_search{float: left;margin-top: 10px;width: 255px;}
#map_selected_loc{ color:#999999; display:block; margin:3px; text-align:center; }

.div_part6 .col-xs-2,.div_part6 .col-xs-3{padding:0 !important;}
.div_part6 .f_part{background:none; border:none; padding-right:50px;}
.div_part6 .f_part legend{display:none;}
.div_part6 .checkbox{border: 1px solid #a5e5ff;height: 60px;margin: 0;padding: 10px;position: relative;width: 99%;}
.div_part6 .text{border: 1px solid #a5e5ff;height: 60px;margin: 0; position: relative; width: 99%;}
.div_part6 .checkbox label{background: none repeat scroll 0 0 #e5faff;  padding: 3px 0 0 !important; border-bottom: 1px solid #a5e5ff;height: 25px;position: absolute !important;right: 0;text-align: center;top: 0;width: 100%;}
.div_part6 .text label{background: none repeat scroll 0 0 #e5faff;border-bottom: 1px solid #a5e5ff;display: block;height: 25px;margin: 0;padding: 3px;text-align: center;width: 100%;}
.div_part6 .checkbox label input{ margin: 0;padding: 0;position: absolute;right: 44% !important;top: 27px !important;}
.div_part6 .text input{border: 1px solid #999999;display: block;margin: 4px auto auto 34px;text-align: center;width: 95px;}

.clear_both{clear:both;}
.advanced_search_b{position: relative; background: none repeat scroll 0 0 #01addd;border-radius: 15px;margin: 15px 0;padding: 10px; display:none;}
.advanced_search_b .block-title{border-bottom: 1px solid #ffffff;color: #ffffff;font-family: WYekan;font-size: 13pt;}
.advanced_search_b .clear_both{clear:none;}
.advanced_search_b .form-group {clear: both;}
.advanced_search_b #real-estate-search {margin-top: 20px;padding-right: 30px;}
.advanced_search_b .base_div_s{margin-left: 45px; width: 28%;display: inline-block;float: right;}
.advanced_search_b .base_div_s input{float: left; width: 57%;}
.advanced_search_b .base_div_s label{color: #ffffff;font-family: WYekan;font-size: 12pt;font-weight: normal;}
.advanced_search_b .btn-default{bottom: 5px;left: 110px;position: absolute;}

.f_emkanat .view_part_f_d .label{font-size:10pt;}

.box_order_banner{border: 1px solid #cccccc;border-radius: 15px;padding: 10px;}
.box_order_banner .captcha-div .captcha-box{ padding-right: 210px;}
.box_order_banner #buttons_submit{bottom: 34px; left: 110px; position: absolute;}
.box_order_banner #banner_image_box_add_more_select_option{margin:20px;}
.box_order_banner #imageBox input{margin-right:20px; float:right;}
.box_order_banner fieldset{margin-top:15px;}
.box_order_banner fieldset legend{border-bottom: 1px solid #999999; font-family: WYekan;}
.box_order_banner fieldset .items label{direction:ltr;}
.box_order_banner .page-title{font-family: WYekan; padding: 10px;}
.box_order_banner .footer-agent-tbl-td-title{border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-radius:0;color: #000000;direction: ltr;}
.box_order_banner .images-real-estate-tbl-td-title,.box_order_banner .fields-real-estate-tbl-title{border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-radius:0;}

.col-xs-4{padding-right:10px !important; padding-left:10px !important;}
#step1 .form_element input{width:150px;}

.step_request{padding-top:30px !important;}
.step_request .div_part_request_p,.step_request .desc_realestate{padding-right:0 !important; padding-left:0 !important;}

.price_font .value{font-family:tahoma !important; font-size:10pt!important;}

.left_banner_b{float: right;margin-right: 20px; margin-top: 10px; width: 390px;}
.select2-drop .select2-result div{font-size:8pt;}