#breadcrumbs{ margin:0 5px; }
#breadcrumbs ul{ list-style:none; display:inline-table; margin:0; padding:0; }
#breadcrumbs ul li{ display:inline; }
#breadcrumbs ul li a{
    position:relative; font-size:8pt;
    display:block; float:right; background:#3498db; color:#ffffff; margin:0 2px; padding:5px 20px 6px 10px;
}
#breadcrumbs ul li a.active{ background:#525252; color:#ffffff; }
#breadcrumbs ul li a:after{
    content:"";
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-right:12px solid #3498db;
    position:absolute; left:-12px; top:0;
    z-index:1;
}
#breadcrumbs ul li a.active:after{ border-right-color:#525252; }
#breadcrumbs ul li a:before{
    content:"";
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-right:12px solid #e9e9f0;
    position:absolute; right:0; top:0;
}
#breadcrumbs ul li:first-child a{
    -moz-border-bottom-right-radius:5px -moz-border-top-right-radius : 5 px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    padding-right:10px;
}
#breadcrumbs ul li:first-child a:before{ display:none; }
#breadcrumbs ul li:last-child a{
    -moz-border-top-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#breadcrumbs ul li:last-child a:after{ display:none; }
#breadcrumbs ul li a:hover{ background:green;
    -moz-box-shadow:0px 0px 5px -2px #000000;
    -webkit-box-shadow:0px 0px 5px -2px #000000;
    box-shadow:0px 0px 5px -2px #000000;
}
#breadcrumbs ul li a.active:hover{ background:#525252; }
#breadcrumbs ul li a:hover:after{ border-right-color:green; }
#breadcrumbs ul li a.active:hover:after{ border-right-color:#525252; }
html, body{ height:100%; }
#body{ padding-top:70px; position:relative; padding-bottom:70px; min-height:95%; }
#main_content{ }
.sticky-bottom{ position:absolute; bottom:0; width:100%; height:60px; }
.footer{ font-size:90%; }
