body, html{ margin:0; padding:0; height:100%; background:url(../images/bg_texture.jpg); }
body{ overflow-x:hidden; }
.clear-fix{ clear:both; margin:0; padding:0; }
input.disabled, textarea.disabled, select.disabled{ cursor:pointer !important; background:#ececec; color:#5b5b5b; }
.digit{ font-family:BYekan; font-weight:normal; font-size:12pt; }
.sub_text{ color:#b2b2b2; font-size:8pt; }
.box{ }
#user_popup_container{ position:relative; float:left; }
.form_element{ margin-bottom:3px; }
.normal-form .form_element label{ display:inline-block; width:200px; vertical-align:top; font-size:9pt; }
.form_element label span.ui-spinner{ width:auto; }
.spinner{ text-align:left; direction:ltr; width:75px; }
.big_spinner{ width:150px; }
.tiny_spinner{ width:40px; }
.form_element fieldset{ }
.form_element fieldset legend{ padding:3px 15px; }
fieldset.inline-collection legend{ display:none; }
fieldset.inline-collection{ border:medium none; margin:0; padding:0; }
fieldset.inline-collection button.icon_button{ margin-top:-3px; width:1.8em; }
.form_element textarea{ vertical-align:top; }
.form_element_description{ color:gray; font-size:8pt; margin-right:20px; }
ul.form-element-error{ margin-top:2px; }
ul.form-element-error li{ color:red; font-size:8pt; font-family:BYekan; list-style:url(../images/error16x16.png) }
.form_element.captcha img, .form_element.captcha label, .form_element.captcha input{ display:block; }
.form_element.captcha input{ width:195px; }
.captcha-box input{ display:block; width:145px; }
input.left-align{ direction:ltr; text-align:left; }
input.spinner{ border:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
.page-title{ color:#8b0000; margin:0; font-size:16pt; margin-bottom:5px; }
.button *{ font-size:9pt; }
#breadcrumbs{ margin:0 5px; }
#breadcrumbs ul{ list-style:none; display:inline-table; margin:0; padding:0; }
#breadcrumbs ul li{ display:inline; }
#breadcrumbs ul li a{ position:relative; font-size:8pt; display:block; float:left; background:#3498db; color:#ffffff; margin:0 2px; padding:5px 10px 6px 20px; }
#breadcrumbs ul li a.active{ background:#525252; color:#ffffff; }
#breadcrumbs ul li a:after{ content:""; border-top:12px solid transparent; border-bottom:12px solid transparent; border-left:12px solid #3498db; position:absolute; right:-12px; top:0; z-index:1; }
#breadcrumbs ul li a.active:after{ border-left-color:#525252; }
#breadcrumbs ul li a:before{ content:""; border-top:12px solid transparent; border-bottom:12px solid transparent; border-left:12px solid #e9e9f0; left:0; position:absolute; top:0; }
#breadcrumbs ul li:first-child a{ -moz-border-bottom-left-radius:5px; -moz-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px; border-bottom-left-radius:5px; border-top-left-radius:5px; padding-left:10px; }
#breadcrumbs ul li:first-child a:before{ display:none; }
#breadcrumbs ul li:last-child a{ -moz-border-top-right-radius:5px; -moz-border-bottom-right-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-right-radius:5px; border-top-right-radius:5px; border-bottom-right-radius:5px; }
#breadcrumbs ul li:last-child a:after{ display:none; }
#breadcrumbs ul li a:hover{ background:green; -moz-box-shadow:0px 0px 5px -2px #000000; -webkit-box-shadow:0px 0px 5px -2px #000000; box-shadow:0px 0px 5px -2px #000000; }
#breadcrumbs ul li a.active:hover{ background:#525252; }
#breadcrumbs ul li a:hover:after{ border-left-color:green; }
#breadcrumbs ul li a.active:hover:after{ border-left-color:#525252; }
.articles #content_body{ background:none; border:none; padding:0; }
.articles h2.article-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; margin:0; font-size:14pt; }
.articles h1.article-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; margin:0; font-size:15pt; }
article{ background:#f5f5f5; border:1px solid #dcdcdc; display:block; padding:10px; margin-bottom:5px; }
article .published, article .author, article .hits{ color:#808080; font-size:7pt; margin-right:10px; }
article .rate{ float:left; }
article .rate #rating-hint{ font-family:BYekan; }
article .tags{ color:#808080; font-family:BYekan; font-size:10pt; border-top:solid 1px #dcdcdc; }
article .tags a{ color:#808080; font-family:BYekan; font-size:9pt; padding:2px 5px; font-weight:normal; }
article .tags a:hover{ background:#1e90ff; color:#f0f0f0; }
article h1.article-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; margin:0; font-size:15pt; }
article ul{ padding:0 15px; }
.content-tags{ }
.content-tags .content-tag{ padding:3px 8px; background:#1e90ff; color:#f0f0f0; margin:2px; font-size:10pt; position:relative; cursor:pointer; }
.content-tags .content-tag a{ color:#ffffff; }
.content-tags .content-tag .content-tag-page-count{ }
.content-tags .content-tag:hover{ background:#3e9615; }
.read-more{ color:#808080 }
span.required{ color:#8b0000; }
pre.xdebug-var-dump{ margin:30px; }
#container{ min-height:100%; position:relative; }
#body{ padding-bottom:440px; }
.sticky-bottom{ position:absolute; bottom:0; width:100%; height:420px; }
.footer{ font-size:9pt; color:#493920; background:url(../images/bg_texture2.jpg); }
.footer .row{ width:980px; margin:auto !important; }
.position_relative{ position:relative; }
#body .my_container{ max-width:980px; margin-bottom:5px; }
.reservation-search-type .jumbotron{ height:245px; }
.logo{ background:url(../images/logo_bg.png) no-repeat center center; width:385px; height:400px; display:block; margin-top:30px; }
.link_logo_text_site{ float:left; background:url(../images/logo.jpg) no-repeat center center; width:370px; height:265px; display:block; }
/*----------------------------------------circle menu---------------------------------------------------*/
.box_circle_menu{ position:absolute; right:0; top:0; }
.box_circle_menu .icon_circle_menu{ display:inline-block; width:66px; height:65px; float:right; }
.box_circle_menu .title_circle_menu{ color:#000000; display:inline-block; font-family:WYekan; font-size:12pt; margin-top:17px; }
.box_circle_menu .icon_m_rahbarane{ background:url(../images/modiriyate-rahbarane.png) no-repeat center center; }
.box_circle_menu .icon_m_keyfi{ background:url(../images/madarese-keyfi.png) no-repeat center center; }
.box_circle_menu .icon_moshavere{ background:url(../images/moshavere.png) no-repeat center center; }
.box_circle_menu .icon_amuzesh{ background:url(../images/amuzesh.png) no-repeat center center; }
.box_circle_menu .icon_p_tarjome{ background:url(../images/pajhuhesh-tarjome.png) no-repeat center center; }
.box_circle_menu .icon_m_ketab{ background:url(../images/moarefi-ketab.png) no-repeat center center; }
.box_circle_menu .icon_b_moshtarian{ background:url(../images/bashgahe-moshtarian.png) no-repeat center center; }
.box_circle_menu ul li{ display:block; height:67px; width:230px; position:absolute; right:0; top:0; }
.display_none{ display:none !important; }
.display_block{ display:block !important; }
/*-------------------------------------top fav menu intro------------------------------------------------*/
.top_fav_menu_b{ margin-right:90px; }
.top_fav_menu_b .navigation{ display:block; float:right; margin:0; padding:10px 0 0; width:100%; }
.top_fav_menu_b .navigation li{ display:inline-block; float:right; margin:5px 5px; }
/*-------------------------------------top fav main menu intro------------------------------------------------*/
.top_fav_main_menu_b{ }
.top_fav_main_menu_b .navigation{ display:block; float:right; margin:0; padding:10px 0 0; width:100%; }
.top_fav_main_menu_b .navigation li{ display:inline-block; float:right; margin:5px 5px; }
/*-------------------------------------top main menu intro------------------------------------------------*/
.top_main_menu_intro_b{ display:block; left:0; position:absolute; top:-64px; }
.top_main_menu_intro_b .navigation{ display:block; float:right; margin:0; padding:10px 0 0; width:100%; }
.top_main_menu_intro_b .navigation li{ display:inline-block; float:right; margin:5px 5px; }
/*-------------------------------------top main menu intro------------------------------------------------*/
.top_main_menu_1{ display:block; }
.top_main_menu_1 .navigation{ display:block; float:right; margin:0; padding:10px 10px 0 0; width:100%; border-bottom:1px solid #b28542; }
.top_main_menu_1 .navigation li{ display:inline-block; float:right; margin:0 5px; }
.news_intro_b{ margin-top:20px; padding-left:20px; }
.news_intro_b .viewport{ height:247px !important; }
.news_intro_b .item .media-body a{ padding-bottom:5px; padding-top:5px; text-decoration:none; }
.news_intro_b .item .media-body a:hover div{ color:#ffffff !important; }
.news_intro_b .item{ border-bottom:1px solid #c59a55; }
.news_intro_b .media{ margin-top:0 !important; }
.news_intro_b .title{ color:#000000; font-family:WYekan; font-size:13pt; line-height:36px; text-align:right; }
.box_sharing_menu .sh_address{ background:url(../images/p.png) no-repeat center center; }
.box_sharing_menu .sh_linkedin{ background:url(../images/in.png) no-repeat center center; }
.box_sharing_menu .sh_facebook{ background:url(../images/f.png) no-repeat center center; }
.box_sharing_menu .sh_twitter{ background:url(../images/t.png) no-repeat center center; }
.box_sharing_menu .sh_instagram{ background:url(../images/instagram.png) no-repeat center center; }
.box_sharing_menu .sh_img_menu{ width:56px; height:56px; display:block; }
.box_sharing_menu .navigation{ display:block; float:right; margin:0; padding:10px 0 0; width:100%; }
.box_sharing_menu .navigation li{ display:inline-block; float:right; margin:0; }
.box_footer_address{ border-bottom:1px solid #c59a55; float:right; margin-bottom:10px; padding-bottom:10px; width:100%; }
.box_footer_address .arrow_footer_add{ background:url(../images/arrowe2.png) no-repeat center center; width:31px; height:32px; display:inline-block; float:right; margin-right:20px; }
.box_footer_address .text_footer_add{ color:#ffffff; display:block; float:right; font-family:Wyekan; font-size:13pt; margin-right:25px; margin-top:10px; }
.copy_right a{ color:#313131; }
.logo_menu, .logo_menu_1{ position:absolute; right:84px; top:170px; }
.main_logo_site{ background:url(../images/logo_other-page.jpg) no-repeat center center; width:465px; height:125px; display:block; margin-top:14px; margin-right:20px; }
.sticky-bottom-main{ height:150px !important; }
.main_body{ padding-bottom:150px !important; }
/*--------------------------------------menu------------------------------------*/
.top_menu_box{ width:100%; display:block; z-index:99999; }
.box-top-menu{ width:auto; margin-left:auto; margin-right:auto; display:table; }
.top_menu_box .block-body{ z-index:9999; }
.top_menu_box .navigation{ border-top:1px solid #bb8b43; margin:0 auto; padding:0; list-style:none; height:32px !important; }
.top_menu_box .navigation li{ display:block; float:right; margin:0 5px; }
.top_menu_box .navigation li a{ background:none repeat scroll 0 0 #bb8b43; border-top:3px solid transparent; color:#ffffff; display:block; float:right; font-family:WYekan; font-size:12pt; padding:7px 28px; white-space:nowrap; word-wrap:normal; border-bottom-right-radius:5px; border-bottom-left-radius:5px; }
.top_menu_box .navigation li.active > a{ }
.top_menu_box .navigation li a:hover{ background:rgb(95, 95, 95); color:#ffffff; -moz-box-shadow:inset -1px -1px 2px -1px #334bd6; -webkit-box-shadow:inset -1px -1px 2px -1px #ffffff; text-decoration:none; }
.top_menu_box .navigation li li{ float:none; border:none; }
.top_menu_box .navigation li li a{ float:none; }
.top_menu_box .navigation li li.active a{ border:none; }
.top_menu_box .navigation li ul{ display:none; position:absolute; top:39px; height:auto; width:auto; min-width:150px; border:solid 1px #a6a6a6; }
.top_menu_box .navigation li ul ul{ display:none; position:absolute; top:0px; right:100%; }
.top_menu_box .navigation li:hover > ul{ display:block; }
.top_menu_box .navigation li ul li:hover > ul{ display:block; }
.top_menu_box .navigation li li ul li:hover > ul{ display:block; }
.top_menu_box .navigation li li li ul li:hover > ul{ display:block; }
.top_menu_box .navigation li ul li{ float:none; }
.top_menu_box .navigation .mega-sub{ background:#610000; -moz-box-shadow:inset 0px -1px 2px -1px #0d3057; -webkit-box-shadow:inset -1px 0px 2px -1px #0d3057; box-shadow:inset 0px -1px 2px -1px #0d3057; padding:10px; }
.top_menu_box .navigation .mega-sub ul{ display:block; position:relative; right:0; top:0; }
.top_menu_box .navigation .mega-sub li{ float:none; }
.top_menu_box .navigation .mega-sub li.column{ display:block; float:right; padding:5px 10px; }
.top_menu_box .navigation .mega-sub li a{ background:none; display:block; line-height:20px; border:none; padding:0 5px; }
.top_menu_box .navigation .mega-sub a:hover{ background:none; color:#808080; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border-top:none; }
.top_menu_box .navigation .mega-sub li.column ul li ul{ padding-right:5px; }
.top_menu_box .block-content{ padding:0; }
.top_menu_box{ width:100%; display:block; z-index:99999; }
/*#body .container-fluid{ max-width:980px; }*/
.reservation-search-type .jumbotron{ height:245px; }
.patient-profile-form .collection-item{ }
#system_messages{ margin:5px 0; }
.workshop-class .page-header{ border-bottom:none; }
.workshop-class .panel .panel-body .progress{ margin:0; }
.workshop-class .panel .panel-body .class-description{ color:#666666; font-family:WYekan; font-size:11pt; }
.workshop-class .table tr td{ font-family:tahoma; font-size:8pt; }
.workshop-class .table tr th{ font-family:WYekan; font-size:10pt; font-weight:normal; }
.workshop-class .workshop-details table td,
.workshop-class .workshop-details table th{ border-top:none; }
.login_img{ background:url(../images/ozviat_button.png) no-repeat center; display:inline-block; float:left; height:28px; margin-left:5px; width:71px; }
.register_img{ background:url(../images/vorud_button2.png) no-repeat center; display:inline-block; float:left; height:28px; margin-left:5px; width:126px; }
.login_box{ float:left; left:21px; position:absolute; top:14px; width:220px; }
#reservation-time-list #search-button{ margin-top:21px; }
#reservation-time-list #reset-button{ margin-top:37px; }
.main_slider_block{ float:left; margin-top:26px; position:relative; width:409px; margin-left:7px; }
.main_slider_block #slider{ border:7px solid #ffffff; -moz-box-shadow:0px 0px 14px 0px #000000; -webkit-box-shadow:0px 0px 14px 0px #000000; box-shadow:0px 0px 14px 0px #000000; }
.main_slider_block .nivo-controlNav{ bottom:0; left:40%; position:absolute; z-index:99999; }
.zero_padding{ padding:0; }
.content-tags-5{ border:1px solid #cccccc; padding:5px; }
.content-tags-5 .panel{ background:none repeat scroll 0 0 #fff7ec; margin:0; padding:5px; border:1px solid #e3e5e4; }
.content-tags-5 .panel:hover{ background:none repeat scroll 0 0 #fcead2; }
.content-tags-5 .panel .article-title{ color:#e00002; font-family:WYekan; font-size:17pt; }
.content-tags-5 .panel .intro_text p{ color:#79797b; }
.content-tags-5 .panel .media-body a{ text-decoration:none; }
.content-tags-5 .panel .media-body a:hover{ text-decoration:none; }
#block-custom-html-block-10{ background:none repeat scroll 0 0 #ffffff; border:1px solid #cccccc; border-radius:5px; margin:10px; padding:10px; }
#block-custom-html-block-10 span{ color:#666666; font-family:WYekan !important; font-size:12pt; }
.login_btn{ margin-top:12px; }
.login_btn button{ font-size:8pt; }
.login_btn .register_btn{ padding-left:7px; }
.form-inline #skip{ display:none; }
.articles-intro-list .article-title{ font-size:15pt; font-family:WYekan; }
.glyphicon-btn_cleaner_form{ background:url(../images/clean-icon.png) no-repeat center center; width:20px; height:20px; display:inline-block; }
