.page-header{ background:#01acd8; margin:0; border:none; font-size:130%; color:#ffffff; padding:5px 30px; }
#products{ background:#f2f2ea; padding:15px; }
#products .product-wrapper.row-odd{ padding:25px; background:#ffffff; }
#products .product-wrapper.row-even{ padding:25px; background:#f5f5f5; }
#products .image{ margin-left:20px; }
#products .product-title{ margin:0 0 5px 0; color:#7a0203; }
#products .item-label{ color:#4783b5; }
#products .detail-row{ font-size:90%; line-height:30px; }
#products .order-button{ background:url(../images/sefaresh-button.png) no-repeat center center;
    width:109px; height:28px; display:block; }
#products .pager{ margin-bottom:0; }
#products .pager a{ color:#3eb6db; font-size:120%; }
#products .pager .previous{ background:url("../images/arrow.png") no-repeat center center; width:20px; height:20px; margin-left:20px; }
#products .pager .next{ background:url("../images/arrow2.png") no-repeat center center; width:20px; height:20px; margin-right:20px; }
#products .pager .current_page{ color:#d60000; }