.statistics-estate thead tr{background:#e0e0e0; border-bottom:1px solid #cccccc;}
.statistics-estate tbody tr{border-bottom:1px solid #cccccc;}
.statistics-estate thead tr td,.statistics-estate tbody tr td{line-height:20px;}