.el-ch-hide {
    visibility: hidden;
}

.lb-item {
    font-family: tahoma;
    font-size: 12px;
    line-height: 30px;
    color: #FFF;
    background-image: url(img-onlineorders/cp-menu-bg-new.png);
    float: right;
    font-weight: bold;
    width: 80%;
    padding: 0px 15px 0px 0px;
    color: #f2f2f2;
    font-size: 9pt;
    border-left: 1px solid #FFF;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sp-item {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-right: 2%;
    width: 100px;
}

.el-tx {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-align: center;
    float: left;
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #000042;
    background-color: #f8f8ff;
    border-radius: 8px;
}

.el-tx-hide {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-align: center;
    float: left;
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #000042;
    background-color: #a0a0a0;
    border-radius: 8px;
}

.el-ch {
    float: left;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.div-item-active {
    background-color: #555555;
    border-radius: 8px;
    line-height: 30px;
}

.div-item-inactive {
    background-color: #8F8F8F;
    border-radius: 8px;
    line-height: 30px;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.div-item-inactive:hover {
    background-color: #8F8F8F;
    border-radius: 8px;
    line-height: 30px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.lb-lang {
    border: 1px solid #ffffff;
    background-color: #FFA54E;
    border-radius: 8px;
    line-height: 30px;
}

.el-lang {
    margin-left: 15px;
}

.sp-domain-name {
    font-family: tahoma;
    font-size: 12px;
    line-height: 30px;
    color: #000000;
    border: 1px solid #62a60a;
    background-color: #d5d59d;
    border-radius: 8px;
    float: right;
    width: 70%;
}

.sp-domain-price {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #B94A48;
    margin-right: 2%;
    width: 100px;
}

.div-domain {
    border: 1px solid #f8f8ff;
    background-color: #ffffff;
    border-radius: 8px;
    line-height: 30px;
}

.rd-domain {
    float: left;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.free-domain-div {
    display: none;
}

.my-domain-div {
    display: none;
}

.admin-domain-div {
    display: none;
}

.reg-domain-div {
    display: none;
}

.div-domain-active {
    border: 1px solid #ffffff;
    background-color: #FFA54E;
    border-radius: 8px;
    line-height: 30px;
}

.el-per-txt {
    border-radius: 4px 4px 4px 4px;
    transition: all 0.1s ease 0s;
    width: 300px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    color: #5d5d5d;
}

.el-per-txt-area {
    border-radius: 4px 4px 4px 4px;
    transition: all 0.1s ease 0s;
    font-size: 14px;
    color: #5d5d5d;
}

div#info-personal label {
    display: inline-block;
    padding: 9px 0;
    width: 100px;
    line-height: 20px;
    font-family: tahoma;
    font-weight: bold;
    color: #a0a0a0;
}

div#div-support-per label {
    display: inline-block;
    padding: 9px 0;
    line-height: 20px;
    font-family: tahoma;
    font-weight: bold;
    margin-left: 10px;
    color: #a0a0a0;
}

.notice {
    font-size: 10px;
    font-family: tahoma;
    color: #ef3800;
    font-weight: bold;
}

.header-factor {
    height: 30px;
    background-color: #0066cc;
    margin: 0px;
}

.pish-factor {
    border: 1px solid #b2b2b2;
    background-color: #dfdfdf;
}

.tbl-pish-fact {
    width: 100%;
}

.td-pish-factor {
    width: 32%;
}

.div-pish-fact-logo {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
}

.inpt-price {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #000042;
    background-color: #f8f8ff;
    border-radius: 8px;
    margin-right: 33px;
}

.lb-info {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
    width: 200px;
    margin-left: 10px;
    margin-right: 50px;
    line-height: 30px;
    direction: rtl;
    display: inline-block;
}

.sp-info {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
    color: #5c0000;
    width: 200px;
    margin-left: 10px;
    margin-right: 50px;
    line-height: 30px;
    direction: rtl;
    display: inline-block;
}

.div-payment-form {
    width: 700px;
    border: 1px solid #b2b2b2;
    background-color: #fffacd;
    border-radius: 8px;
    direction: rtl;
    margin-right: auto;
    margin-left: auto;
}

.selec-form-payment {
    width: 400px;
    border-radius: 8px;
    margin: 10px;
}

.groupmenu {
    margin: 2px;
    text-decoration: none;
    font-family: tahoma;
    font-size: 14;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.groupmenu:hover {
    margin: 2px;
    text-decoration: none;
    font-family: tahoma;
    font-size: 14;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.tbllink {
    width: 100%;
    direction: rtl;
}

.bottomRow {
    background-color: #282828;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    box-shadow: 0 -1px 4px -3px #000000;
    font-family: tahoma;
    font-size: 10px;
    color: #ffffff;
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.player {
    width: 500px;
    height: 300px;
    background: rgb(200, 200, 200);
    text-align: center;
    line-height: 300px;
}

.ui-tooltip {
    opacity: 0.8;
    filter: alpha(opacity=80);
    border-radius: 10px;
    background: rgba(20, 20, 20, 1);
    color: white;
}

.set {
    display: inline-block;
}

.notification {
    position: absolute;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.5);
}

.backDiv {
    background-color: #0073ea;
}

.fieldset {
    border: 1px solid #888888;
    height: 200px;
    background: #FFF;
}

body {
    background: #FFF;
    font-family: tahoma;
    font-size: 9pt;
}

fieldset legend {
    font-family: tahoma;
    color: #515151;
}

#order-tracking-button {
    float:left;
    border: none;
    background: #FC0;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #162454;
    cursor: pointer;

}

#div-order-tracking {
    left: 5px;
    background: #1f4783;
    width: 215px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.div-btn-order-tracking{
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.input-order-tracking{
    border-radius: 3px;
    margin-right: 5px;
    width: 140px;
    text-align: center;
}
.label-order-tracking{
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #fffacd;
}
#btncode {
    border: none;
    background: #FC0;
    border-radius: 3px;
    height: 20px;
    color: #162454;
}

.box .user_login_box {
    background: #FC0;
    border: none;
    background: #FC0;
    border-radius: 3px;
}

.footer-span-price {
    border: 1px solid #a0a6ad;
    margin: 5px;
    border-radius: 8px;
    padding: 6px;

}