*{ font-family:tahoma; direction:ltr; font-size:9pt; }
.clear-fix{ clear:both; margin:0; padding:0; }
input.disabled, textarea.disabled, select.disabled{ cursor:no-drop; background:#ececec; color:#5b5b5b; }
.digit{ font-family:BYekan; font-weight:normal; font-size:12pt; }
.sub_text{ color:#b2b2b2; font-size:8pt; }
.box{ }
#user_popup_container{ position:relative; float:left; }

.form_element{ margin-bottom:3px; }
.normal-form .form_element label{ display:inline-block; width:200px; vertical-align:top; font-size:9pt; }
.form_element label span.ui-spinner{ width:auto; }
.spinner{ text-align:left; direction:ltr; width:75px; }
.big_spinner{ width:150px; }
.tiny_spinner{ width:40px; }
.form_element fieldset{ }
.form_element fieldset legend{ padding:3px 15px; }
fieldset.inline-collection legend{ display:none; }
fieldset.inline-collection{ border:medium none; margin:0; padding:0; }
fieldset.inline-collection button.icon_button{ margin-top:-3px; width:1.8em; }
.form_element textarea{ vertical-align:top; }
.form_element_description{ color:gray; font-size:8pt; margin-right:20px; }
ul.form-element-error{ margin-top:2px; margin-left:25px; }
ul.form-element-error li{ color:red; font-size:8pt; font-family:BYekan; list-style:url(../images/error16x16.png) }
.form_element.captcha img,
.form_element.captcha label,
.form_element.captcha input{ display:block; }
.form_element.captcha input{ width:195px; }
.captcha-box input{ display:block; width:145px; }

input.left-align{ direction:ltr; text-align:left; }
textarea, input{ border:1px solid #dddddd; padding:2px; font-size:9pt;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
}
textarea:hover, input:hover{
    border:solid 1px #dcdcdc;
    -moz-box-shadow:inset 0px 0px 6px -4px #000042;
    -webkit-box-shadow:inset 0px 0px 6px -4px #000042;
    box-shadow:inset 0px 0px 6px -4px #000042;
}
textarea:focus, input:focus{
    border:solid 1px #dcdcdc;
    -moz-box-shadow:inset 0px 0px 6px -4px #000042;
    -webkit-box-shadow:inset 0px 0px 6px -4px #000042;
    box-shadow:inset 0px 0px 6px -4px #000042;
}
input.spinner{ border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.page-title{ font-family:'BYekan'; color:#8b0000; margin:0; font-size:16pt; margin-bottom:5px; }
.button *{ font-size:9pt; }

#breadcrumbs{ margin:0 5px; }
#breadcrumbs ul{ list-style:none; display:inline-table; margin:0; padding:0; }
#breadcrumbs ul li{ display:inline; }
#breadcrumbs ul li a{
    position:relative; font-size:8pt;
    display:block; float:left; background:#3498db; color:#ffffff; margin:0 2px; padding:5px 10px 6px 20px;
}
#breadcrumbs ul li a.active{ background:#525252; color:#ffffff; }
#breadcrumbs ul li a:after{
    content:"";
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-left:12px solid #3498db;
    position:absolute; right:-12px; top:0;
    z-index:1;
}
#breadcrumbs ul li a.active:after{ border-left-color:#525252; }
#breadcrumbs ul li a:before{
    content:"";
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-left:12px solid #e9e9f0;
    left:0;
    position:absolute; top:0;
}
#breadcrumbs ul li:first-child a{
    -moz-border-bottom-left-radius:5px;
    -moz-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    padding-left:10px;
}
#breadcrumbs ul li:first-child a:before{ display:none; }
#breadcrumbs ul li:last-child a{
    -moz-border-top-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
#breadcrumbs ul li:last-child a:after{ display:none; }
#breadcrumbs ul li a:hover{ background:green;
    -moz-box-shadow:0px 0px 5px -2px #000000;
    -webkit-box-shadow:0px 0px 5px -2px #000000;
    box-shadow:0px 0px 5px -2px #000000;
}
#breadcrumbs ul li a.active:hover{ background:#525252; }
#breadcrumbs ul li a:hover:after{ border-left-color:green; }
#breadcrumbs ul li a.active:hover:after{ border-left-color:#525252; }

.articles #content_body{ background:none; border:none; padding:0; }
.articles h2.article-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; margin:0; font-size:14pt; }
.articles h1.article-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; margin:0; font-size:15pt; }
article{ background:#f5f5f5; border:1px solid #dcdcdc; display:block; padding:10px; margin-bottom:5px; }
article .published,
article .author,
article .hits{ color:#808080; font-size:7pt; margin-right:10px; }
article .rate{ float:left; }
article .rate #rating-hint{ font-family:BYekan; }
article .tags{ color:#808080; font-family:BYekan; font-size:10pt; border-top:solid 1px #dcdcdc; }
article .tags a{ color:#808080; font-family:BYekan; font-size:9pt; padding:2px 5px;
    font-weight:normal; }
article .tags a:hover{ background:#1e90ff; color:#f0f0f0; }

.content-tags{ }
.content-tags .content-tag{ padding:3px 8px; background:#1e90ff; color:#f0f0f0;
    margin:2px; font-size:10pt; position:relative; cursor:pointer; }
.content-tags .content-tag a{ color:#ffffff; }
.content-tags .content-tag .content-tag-page-count{ }
.content-tags .content-tag:hover{ background:#3e9615; }
.read-more{ color:#808080 }
span.required{ color:#8b0000; }
pre.xdebug-var-dump{ margin:30px; }

@font-face{
    font-family:"Brandon";
    font-style:normal;
    font-weight:normal;
    src:url("../fonts/Brandon_med.eot?#") format("eot"), url("../fonts/Brandon_med.woff") format("woff"), url("../fonts/Brandon_med.ttf") format("truetype");
}

body{ background:url(../images/bg_texture.jpg) scroll; padding-top:2px; }
.inline-search-form label, .inline-search-form button{ display:none; }
.header-email{ float:right; border-right:1px solid #e59214; padding-right:10px; }
.header-email, .header-email *{ font:11px/21px verdana; color:#543636; }
.header-email img{ width:25px; margin:0 2px; }
.top-container{ z-index:999; }
#logo{ height:30px; z-index:999; }

.main-menu{ background:#8c0000; padding-left:5px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 0px 10px -5px #bf0000;
    -webkit-box-shadow:0px 0px 10px -5px #bf0000;
    box-shadow:0px 0px 10px -5px #bf0000;
}
.main-menu ul{ list-style:none; padding:0; margin:0; }
.main-menu ul.navigation{ position:relative; min-height:35px; height:auto; }
.main-menu ul.navigation:after{ clear:both; content:""; display:block; }
.main-menu ul li{ float:left; padding:5px 8px 0 8px; position:relative;
}
.main-menu ul.navigation li a{
    display:block; outline:medium none; text-decoration:none;
    color:#fff; font-family:'Brandon';
    line-height:29px; padding:3px 5px; font-size:12pt;
    transition:all 500ms;
    -moz-transition:all 500ms;
    -webkit-transition:all 500ms;
    -o-transition:all 500ms;
}
.main-menu ul.navigation li.has-child > a{
    height:40px; border-bottom-right-radius:0 !important;
    border-bottom-left-radius:0 !important;
    -moz-border-radius-bottomright:0 !important;
    -moz-border-radius-bottomleft:0 !important;
    -webkit-border-bottom-right-radius:0 !important;
    -webkit-border-bottom-left-radius:0 !important;
}
.main-menu ul.navigation li:hover > a{
    color:#e59214;
    text-shadow:0 1px 0 #000;
    background-color:#a2121c;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index:999;
}
.main-menu ul.navigation li ul{
    min-width:150px;
    background-color:#a2121c;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    list-style:none;
    display:none;
    position:absolute;
    top:40px;
    left:8px; z-index:999;
    padding:2px 5px 10px 5px;
}
.main-menu ul.navigation li ul ul{ left:100%;top:0; }
.main-menu ul.navigation li ul li{ float:none; display:block; background:none; }
.main-menu ul.navigation li:hover ul{ display:block; }
.main-menu ul.navigation li:hover ul ul{ display:none; }
.main-menu ul.navigation li li:hover ul {display:block;}
.main-slider .theme-default .nivo-controlNav{ position:absolute; bottom:5px; left:45%; z-index:99; }
.footer p{ color:#929292; }

#row-2{ background:url(../images/bg_texture2.jpg) scroll;
    margin:20px 0 0 0;
    border:solid 1px #ba9e8e;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 0px 10px -5px #110000;
    -webkit-box-shadow:0px 0px 10px -5px #110000;
    box-shadow:0px 0px 10px -5px #110000;
}

.about-us, .news-slider{ padding:5px; margin:10px 0;
    background:rgba(255, 255, 255, 0.51);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.about-us .block-body,
.news-slider .block-body{ position:relative; margin-top:44px; padding:5px; }
.about-us .block-title,
.news-slider .block-title{ position:absolute; top:-44px; width:100%; left:0; height:44px; text-indent:-9999px; overflow:hidden; }
.about-us .block-title{ background:url(../images/about.png) no-repeat center center; }
.news-slider .block-title{ background:url(../images/news.png) no-repeat center center; width:120%; left:-10%; }

.news-slider .content-slider-container.horizontal .item{ }

.footer-menu ul{ list-style:none; }
.footer-menu ul li{ float:left; display:block; }
.footer-menu ul li a{ display:block; padding:3px 15px; font-family:'Brandon'; font-size:9pt; }
.footer-menu ul li a:hover{ background:#8b0000; color:#ffffff;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 0px 10px -5px #110000;
    -webkit-box-shadow:0px 0px 10px -5px #110000;
    box-shadow:0px 0px 10px -5px #110000;
}
.footer-menu ul ul{ display:none; }

.show-case{ margin-top:-14px; }
.show-case ul{ list-style:none; margin:0; padding:0; }
.show-case li{ position:relative; float:left; margin:0 6px; }
.show-case h3{ position:absolute; top:0; left:0; width:253px; padding:20px 0; margin:0; text-align:center;
    font-family:'Brandon';
    transition:all 500ms;
    -moz-transition:all 500ms;
    -webkit-transition:all 500ms;
    -o-transition:all 500ms;
}
.show-case li:hover h3{
    background-color:#8b0000;
    transition:all 500ms;
    -moz-transition:all 500ms;
    -webkit-transition:all 500ms;
    -o-transition:all 500ms;
    color:#ffffff;
}

.article-title, .page-title{ color:#8b0000; border-bottom:solid 1px #dcdcdc; }
#main-content{ margin-top:30px; }

#contact-form{ background:#f5f5f5; border:1px solid #dcdcdc; display:block; padding:10px; margin-bottom:5px; }
#contact-form .column-1, #contact-form .column-2{ float:left; }
#contact-form .page-title{ margin-left:90px; margin-right:0; border-bottom:solid 2px #8b0000; }
#contact-form .required{ float:left; }
#contact-form .captcha-box img{ margin-left:2px; margin-right:0; }