#footer-col-1 ,#footer-col-2 , #footer-col-3 , #footer-col-4{float: right;}
#top-middle-col-slider , #top-middle-col-menu2{float: right;}
#top-middle-col-slider{width: 75%;}
#top-middle-col-menu2{width: 25%;}

